@model HPlusSport.Ecommerce.Models.Login
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    @using (Html.BeginForm("Index", "Login", new { ReturnUrl = Request.QueryString["ReturnUrl"] }, FormMethod.Post, new { @class = "form-signin"} ))
    {
        if (IsPost)
        {
            <div class="alert alert-danger">@Html.ValidationSummary()</div>
        }
        <fieldset>
            <legend class="form-signin-heading row">Please sign in</legend>
            <div class="form-group row">
                @Html.LabelFor(m => m.Username, "Email address", new { @class = "sr-only", @for = "username" })
                <div class="input-group-prepend">
                    <span class="input-group-text" id="label1"><i class="fas fa-user"></i></span>
                </div>
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control", value = "@(Model?.Username ?? '')", placeholder = "Email address", autofocus = "", type = "email", name = "username", aria_describedby = "label1" })
                @Html.ValidationMessageFor(m => m.Username)
            </div>
            <div class="form-group row">                
                @Html.LabelFor(m => m.Password, "Password", new { @class = "sr-only", @for = "password" })
                <div class="input-group-prepend">
                    <span class="input-group-text" id="label2"><i class="fas fa-lock"></i></span>
                </div>
                @Html.TextBoxFor(m => m.Password, new { type = "password", @class = "form-control", name = "password", id = "password", placeholder = "Password", aria_describedby = "label2" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div class="form-check row">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <div class="form-group row">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Sign in</button>
            </div>
        </fieldset>
    }
    @*<form action="@Request.Url.PathAndQuery" method="post" class="form-signin">
    </form>*@
</div>

